data/*
logging/*
checkpoints/*
__pycache__/*
ignore_this/*
*.pyc
logging*/*
*logging/*
plots*/*
*nohup.out
TEX/*
**/.ipynb_checkpoints/*
.vscode
TEST_RESULTS.txt
OLD_STUFF/*
TRAINED_MODELS_FOR_EVALUATION
200_epochs_HIS_DAE/
200_epochs_HIS_KL_annealing/
BEST_VANILLA_WMF_MODEL/

BEST_WARP_RUN_15_EPOCHS_TRUTHFUL_LOSS/
FULLY_TRAINED_ACTOR_AND_CRITIC/
WARP_WITH_CRITIC/
WMF_AFTER_CRITIC/
WMF_TEST_RESULTS.txt
best_ndcg_trained_2_epochs/
hello.txt
last_actor_after_150_trained_epochs/
last_actor_after_2_trained_epochs/
notes.md
simple_actor/

BEST_ACTOR_FROM_LAMBDARANK_PHASE_4/
BEST_ACTOR_FROM_WARP_CRITIC_AFTER_ADDITIONAL_PHASE_1/
BEST_ACTOR_FROM_WARP_CRITIC_ONLY_PHASE_1_FULL/
BEST_ACTOR_FROM_WARP_CRITIC_PHASE_4_FULL/
MSD_BEST_ACTOR_FROM_WARP_CRITIC_ONLY_PHASE_1_FULL/
another_custom_grad_example.py
example_grad_override.py
plotting_data/
plotting_data_stashed_02_02/
